@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply py-4 transition-all duration-200 border-2 px-9 rounded-xl text-mkl-secondary border-mkl-secondary bg-mkl-primary;
	}

	.btn-secondary {
		@apply py-4 transition-all duration-200 border-2 px-9 rounded-xl text-mkl-primary border-mkl-primary bg-mkl-secondary;
	}

	.h1 {
		@apply text-6xl font-bold;
	}

	.h2 {
		@apply text-3xl font-bold;
	}

	.h3 {
		@apply text-xl font-bold;
	}

	div.bid-card:nth-child(5) {
		@apply opacity-20;
	}
	div.bid-card:nth-child(4) {
		@apply opacity-40;
	}
	div.bid-card:nth-child(3) {
		@apply opacity-60;
	}
	div.bid-card:nth-child(2) {
		@apply opacity-80;
	}
}

.home-background {
	background: linear-gradient(
			0deg,
			rgba(32, 61, 89, 0.8) 0%,
			rgba(32, 61, 89, 0.8) 100%
		),
		url('/assets/bg-home.webp'), lightgray 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div.bid-card:nth-child(5) {
}
